h2#tipo Tipografias
p Utiliza los tamaños que se adecuen a tu producto.
hr
br
br
.row 
  h3 Títulos
  .row.pb-4
    .col-md-6 
      .example.p-4 
          .display Soy un .display
    .col-md-6 
      pre.example_code.m-0: code.
        #{'<div class="display">'} 
        #{'Soy un .Display'} 
        #{'</div>'} 
  .row.pb-4
    .col-md-6 
      .example.p-4 
          h1 Soy un h1
    .col-md-6 
      pre.example_code.m-0: code.
        #{'<h1>'} 
        #{'Soy un h1'} 
        #{'</h1>'} 
  .row.pb-4
    .col-md-6 
      .example.p-4 
          h2 Soy un h2
    .col-md-6 
      pre.example_code.m-0: code.
        #{'<h2>'} 
        #{'Soy un h2'} 
        #{'</h2>'} 
  .row.pb-4
    .col-md-6 
      .example.p-4 
          h3 Soy un h3
    .col-md-6 
      pre.example_code.m-0: code.
        #{'<h3>'} 
        #{'Soy un h3'} 
        #{'</h3>'}
  .row.pb-4
    .col-md-6 
      .example.p-4 
          h4 Soy un h4
    .col-md-6 
      pre.example_code.m-0: code.
        #{'<h4>'} 
        #{'Soy un h4'} 
        #{'</h4>'}
  br
h3 Contenido
.row.pb-4
  .row.pb-4
    .col-md-6 
      .example.p-4 
          p Soy un p
    .col-md-6 
      pre.example_code.m-0: code.
        #{'<p>'} 
        #{'Soy un p'} 
        #{'</p>'}
  .row.pb-4
    .col-md-6 
      .example.p-4 
          small Soy un small
    .col-md-6 
      pre.example_code.m-0: code.
        #{'<small>'} 
        #{'Soy un small'} 
        #{'</small>'}
  .row.pb-4
    .col-md-6 
      .example.p-4 
          span.caption Soy un caption
    .col-md-6 
      pre.example_code.m-0: code.
        #{'<span class="caption">'} 
        #{'Soy un caption'} 
        #{'</span>'}
