#alert 
br

hr
br

.types
  h2 📦 Alert
  h3 ⏺ Success
  
  .example.p-4
    //  ==================================================================================== ALERT
    .c-alert-success
      img(src='assets/mensaje.svg')
      small Texto muy largo en una alerta inteligente que cambia de tamaño y estilo.
      //  <a href="#modal"><img src="assets/cross.svg"></a>
    //  ==================================================================================== ALERT
  pre.example_code.m-0: code.
    #{'<div class="c-alert-success">'}
    #{'  <img src="assets/mensaje.svg">'}
    #{'  <small>Texto muy largo en una alerta inteligente que cambia de tamaño y estilo.</small>'}
    #{'  <!--  <a href="#modal"><img src="assets/cross.svg"></a> -->'}
    #{'</div>'}
  h3 ⏺ Error
  
  .example.p-4
    //  ==================================================================================== ALERT
    .c-alert-error
      img(src='assets/mensaje.svg')
      small Texto muy largo en una alerta inteligente que cambia de tamaño y estilo.
      //  <a href="#modal"><img src="assets/cross.svg"></a>
    //  ==================================================================================== ALERT
  pre.example_code.m-0: code.
    #{'<div class="c-alert-error">'}
    #{'  <img src="assets/mensaje.svg">'}
    #{'  <small>Texto muy largo en una alerta inteligente que cambia de tamaño y estilo.</small>'}
    #{'  <!--  <a href="#modal"><img src="assets/cross.svg"></a> -->'}
    #{'</div>'}
  h3 ⏺ Warning
  
  .example.p-4
    //  ==================================================================================== ALERT
    .c-alert-warning
      img(src='assets/mensaje.svg')
      small Texto muy largo en una alerta inteligente que cambia de tamaño y estilo.
      //  <a href="#modal"><img src="assets/cross.svg"></a>
    //  ==================================================================================== ALERT
  pre.example_code.m-0: code.
    #{'<div class="c-alert-warning">'}
    #{'  <img src="assets/mensaje.svg">'}
    #{'  <small>Texto muy largo en una alerta inteligente que cambia de tamaño y estilo.</small>'}
    #{'  <!--  <a href="#modal"><img src="assets/cross.svg"></a> -->'}
    #{'</div>'}
  h3 ⏺ Info 

  
  .example.p-4
    //  ==================================================================================== ALERT
    .c-alert-info
      img(src='assets/mensaje.svg')
      small Texto muy largo en una alerta inteligente que cambia de tamaño y estilo.
      //  <a href="#modal"><img src="assets/cross.svg"></a>
    //  ==================================================================================== ALERT

  pre.example_code.m-0: code.
    #{'<div class=".c-alert-info">'}
    #{'  <img src="assets/mensaje.svg">'}
    #{'  <small>Texto muy largo en una alerta inteligente que cambia de tamaño y estilo.</small>'}
    #{'  <!--  <a href="#modal"><img src="assets/cross.svg"></a> -->'}
    #{'</div>'}
.prueba