#avatar
  br
  br
  hr
  br
  h2 📦 Avatar
  .example.p-4
    //  ==================================================================================== AVATARES
    .c-avatar.avatar-s
      .avatar-name S
    .c-avatar.avatar-m
      .avatar-name M
    .c-avatar.avatar-l
      .avatar-name L
    .c-avatar.avatar-l(style='background:url(\'assets/prom.png\');background-size:cover;color:transparent;') .
    //  ==================================================================================== AVATARES

  pre.example_code.m-0: code.
    #{'<div class="c-avatar avatar-s">'}
    #{'<div class="avatar-name">S</div>'}
    #{'</div>'}
    #{'<div class="c-avatar avatar-m">'}
    #{'<div class="avatar-name">M</div>'}
    #{'</div>'}
    #{'<div class="c-avatar avatar-l">'}
    #{'<div class="avatar-name">L</div>'}
    #{'</div>'}
    #{'<div class="c-avatar avatar-l" style="background:url(\'assets/prom.png\');background-size:cover;color:transparent;">'}
    #{'</div>'}