#breadcrumb
  br
  br
  hr
  br
  h2  Breadcrumb
  .example.p-5
    //  ==================================================================================== MODALBOX
    ul.c-breadcrumb
      li
        a(href='#') Opci贸n 1
      li
        a(href='#') Opci贸n 2
      li
        a(href='#') Opci贸n 3
    //  ==================================================================================== MODALBOX
  pre.example_code.m-0: code.
    #{'<ul class="c-breadcrumb">'}
    #{'<li><a href="#">Opci贸n 1</a></li>'}
    #{'<li><a href="#">Opci贸n 2</a></li>'}
    #{'<li><a href="#">Opci贸n 3</a></li>'}
    #{'</ul>'}