#c-header
  br
  br
  hr
  br
  h2 📦 Header
  .example.p-4
    
    //  ==================================================================================== PROGRES BAR
    .c-header-background.background-bg.b-center.hv-25(style='background-image: url(\'https://wallpaperboat.com/wp-content/uploads/2019/07/mountain-wallpaper-01.jpg\');').
    pre.example_code.m-0: code.
      #{'<div class="c-header-background background-bg b-center hv-25" style="background-image: url(\'https://wallpaperboat.com/wp-content/uploads/2019/07/mountain-wallpaper-01.jpg\');">'}
      #{'</div>'} 
      
    //  Some utilities 
    //  Height: .vh-25, .vh-50, .vh-75, .vh-100 
    //  Position&repeat: .no-repeat-img, .img-cover 
    //  ==================================================================================== PROGRES BAR
    h2 Header with content
    .c-header-background.background-bg.b-center.hv-50.no-repeat-img.img-cover(style='background-image: url(\'https://wallpaperboat.com/wp-content/uploads/2019/07/mountain-wallpaper-01.jpg\');')
      .container-sm.h-100
        .row.h-100.justify-content-center.align-items-center
          .col-sm-6
            h3.primary Secciones
            p.white Hola soy un contenido
          .col-sm-6
            h3.primary Secciones
            p.white Hola soy un contenido
    pre.example_code.m-0: code.
      #{'<div class="c-header-background background-bg b-center hv-50 no-repeat-img img-cover" style="background-image: url(\'https://wallpaperboat.com/wp-content/uploads/2019/07/mountain-wallpaper-01.jpg\');">'}
        #{'<div class="container-sm h-100">'}
          #{'<div class="row h-100 justify-content-center align-items-center">'}
            #{'<div class="col-sm-6">'}
              #{'<h3 class="primary">Secciones</h3>'}
              #{'<p class="white">Hola soy un contenido</p>'}
            #{'</div>'}
            #{'<div class="col-sm-6">'}
              #{'<h3 class="primary">Secciones</h3>'}
              #{'<p class="white">Hola soy un contenido</p>'}
            #{'</div>'}
          #{'</div>'}
        #{'</div>'}
      #{'</div>'}